*{
    
}
/* #box1{
transform: rotate(45deg);
}
#box2{
transform: scale(1.5);
}
#box3{
transform: translate(50px,50px);
}
#box4{
    
}
#box5{
    
} */
section{
    margin-top: 100px;
}
div{
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: aquamarine;
    border: 2px solid black;
    margin: 10px;
    box-shadow: 5px 5px 10px black;
}
div:nth-of-type(2n){
    background-color: bisque;
}
div:nth-of-type(3n){
    background-color: brown;
}