/* body {
  font-family: Arial;
}

#mainImg {
  width: 35%;
}

.box {
  border: 0.25px solid black;
  background-color: lightgray;
  width: 200px;
  padding: 1rem;
}

.boxLink {
  text-decoration: none;
}

.oldImg {
  height: 200px;
  width: 200px;
  margin-right: 1rem;
}

#description {
  background-color: antiquewhite;
} */
/* body{
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;

}
div{
  height: 5rem;
  width: 70rem;
  border: 2px solid black;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  margin: 2rem;
} */

/* div{
  background-color: pink;
  height: 200px;
  width: 400px;
}
ul{
  background-color: blue;
}
li{
  background-color: greenyellow;
} */
 