/* h1{
    color: #ffa511;
    text-align: center;
    letter-spacing:2px;
    font-size:55px;
    font-weight: 900;
    font-family: League spartan;
    line-height: 1.5;
    text-decoration: rgb(3, 58, 58) double underline ;
    text-transform: uppercase;
}
body{
    background-color: bisque;
}
h2{
    color: orange;
    text-align: center;
    letter-spacing:6px;
}
button{
    color: white;
    background-color: blue;
}
p{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
table{
    background-color: rgb(0,0,0);
    color: rgb(255,255,255);
}
a{
    text-decoration: none;
} */
.container{
    height: 300px;
    width: 600px;
    background-color: aqua;
}
.box{
    height: 100px;
    
}