/* p{
    color: #964B00;
    line-height: 30px;
}
body{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3{
    color: black;
}
h1{
    color: red;
    text-decoration: underline;
}
a{
    color: green;
    text-decoration: none;
}
button{
    background-color: white;
    color: blueviolet;
}
textarea{
    color: #000000;
} */
/* *{
    font-family: 'Times New Roman', Times, serif;
}
h1{
    color: rgb(141, 6, 6);
}
#login:active{
    background-color: white;
    color: red;
}
#signup{
    background-color: brown;
    color: white;
}
.upvote{
    background-color: brown;
    color: white;
}
.userbtn{
    background-color: aqua;
    color: black;
}
.title{
    color: rgb(55, 167, 253);
}
.toppractice{
    font-family: 'Courier New', Courier, monospace;
}
.searchbtn{
    background-color: black;
    color: white;
}
p a{
    color: purple;
    background-color: rgb(255, 255, 170);
}
p+h3{
    color: brown;
}
.upvote+button{
    color: aqua;
}
input[attr="text"]{
    color: brown;
}
input[attr="password"]{
    color: brown;
}
#myid p{
    color: blueviolet;
}
.post:nth-of-type(2n){
    background-color: bisque;
} */

/* div{
    background-color: yellow;
}
form{
    background-color: aqua;
} */

/* *{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#mainTopic{
    color:blue;
}
.para{
    color: white;
    background-color: cornflowerblue;
}
div button{
      background-color: purple;
      color: azure;
}
button:hover{
    background-color: yellow;
    color: blue;
}
p:checked(2n+1){
    color: yellow;
}
h1::first-letter{
    color: red;
}
input[type="radio"]:checked+label{
    color: darkgreen;
} */
/* #yeshwanth{
    background-image: url("/images/download.png");
    background-size: cover;
}
#sweetie{
    background-image: url("/images/female.jpeg");
    background-size: cover;
}
div{
    box-shadow: 2px 2px 10px black;
    width: 200px;
    height: 250px;
    border-radius: 15px;
    display: inline-block;
    margin: 20px;

}
div:hover{
   box-shadow: 4px 4px 12px black;
   transition: 1s ease-in-out 0s;
} */
.face{
    width: 400px;
    height: 400px;
    background-color: yellow;
    border-radius: 50%;
}
.mouth{
    width: 200px;
    height: 75px;
    background-color: brown;
    border-radius: 0  0 50px 50px;
    position: absolute;
    top: 250px;
    left: 100px;
}
.left-eye .right-eye{
    width: 70px;
    height: 70px;
    display: inline-block;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 100px;
}
.right-eye{
    left: 250px;
}