*{
    font-family: "Outfit", sans-serif;
    margin:0;
    color: white;
    /* overflow: hidden; */
    box-sizing: border-box;
}
body{
    background-color:#000000;
    overflow-y: scroll;
}
.main{
    display: flex;
    height: 100vh;
}
.sidebar{
    background-color: rgb(15, 14, 14);
    width: 300px;
    border-radius: 1rem;
    padding: 0.5rem;
}
.main-content{
    background-color: rgb(36, 35, 36);
    flex:1;
    border-radius: 1rem;
    overflow: scroll;
    margin:0.5rem 0 0.5rem 0;
    overflow-y: auto;
    margin-bottom: 72px;
}
.music-player{
    background-color: rgb(0, 0, 0);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
    /* border-radius: 1rem; */
}
.nav-option a{
    text-decoration: none;
    font-size: 1.35rem;
    padding: 1rem 1rem 1.5rem 1rem;
}
.sidebar .nav{
    background-color: rgb(39, 44, 44);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 5rem 0.5rem 5rem;
    line-height: 2.5rem;
}
.nav-option i{
    font-size:1.25rem ;
}
.nav-option{
    opacity: 0.7;
}
.nav-option:hover{
    opacity: 1;
}
.title{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding:1rem 1rem;
    align-items: center;
    opacity: 0.7;
}
.title:hover{
    opacity: 1;
}
.title i{
    font-size:1.2rem ;
}
.title a{
    text-decoration: none;
    font-size: 1.2rem;
}
.card1{
    height: 150px;
    background-color: rgb(39, 44, 44);
    border-radius: 10px;
    padding: 1rem 1rem 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}
.card1 p{
    margin-bottom: 0.75rem;
}
.card1 a{
    text-decoration: none;
    padding: .35rem;
    background-color: white;
    color: #000000;
    border-radius: 10px;
}
.card1 a:hover{
    opacity: 0.7;
}
.card2{
    height: 200px;
    background-color: rgb(39, 44, 44);
    border-radius: 10px;
    padding: 1rem 1rem 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.5rem;
}
.card2 p{
    margin-bottom: 0.75rem;
}
.card2 a{
    text-decoration: none;
    padding: .35rem;
    background-color: white;
    color: #000000;
    border-radius: 10px;
}
.card2 a:hover{
    opacity: 0.7;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: rgb(36, 35, 36);
    padding: 0.5rem;
    position: sticky;
    top:0;
    z-index: 10;
}
.navbar a{
    text-decoration: none;
    padding: .35rem;
    background-color: white;
    color: #000000;
    border-radius: 10px;
}
#installapp{
    text-decoration: none;
    padding: .35rem;
    background-color: rgb(255, 255, 255);
    color: #000000;
    border-radius: 10px;
}
.navbar-sub{
    display: flex;
    justify-content: space-between;
    gap:1rem;
    padding: 0.5rem;
}
.navbar-sub #profilelogo{
    font-size: large;
    padding: 0.5rem;
}
.navbar-sub:hover{
    opacity: 0.7;
}
.card-container{
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
}
.cards-content{
    margin:0.5rem;
    height: 100vh;
}
.cards-content h2{
    margin-left:1rem;
}
.card{
    padding: 0.75rem;
    background-color: #5c4e4e;
    width: 200px;
    border-radius: 0.75rem;
}
.card img{
    width: 100%;
    border-radius: 0.75rem;
}
#faded-text{
    opacity: 0.7;
}
#main-text{
    font-weight:500;
}
.footer{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid white;
    opacity: 0.4;
}
.music-player{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.music-player img{
    height: 2.5rem;
    width: 2.5rem;
}
.player-left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:1rem;
}
.middle-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:1rem;
}
.player-right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:1rem;
}
.music-player i+a{
    font-size: 1.5rem;
}
.player-middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.middle-bottom{
    font-size: 0.75rem;
}
.progress-bar{
    color: rgb(3, 74, 3);
}

@media (max-width:1000px){
    .hide{
        display: none;
    }
}
@media (max-width:667px){
    .sidebar{
        display: none;
    }
}
@media (max-width:1210px){
    .card-container{
        flex-wrap: wrap;
    }
}