<%- include("includes/head.ejs");%>
<body>
    <div class="profile">
        <h1>@<%= userData.name %></h1>
        <p><b><%= userData.followers %></b> Followers | 
           <b><%= userData.following %></b> Following</p>
    </div>
</body>
</html>
