<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Posts Form</title>
</head>
<body>
    <h3>Enter the details of the form to create a new post </h3>
    <form method="post" action="/posts">
    <input type="text" placeholder="Enter the username"name="username">
    <input type="text"placeholder="Enter the content" name="content">
    <button>submit</button>
    </form>
</body>
</html>