<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post in Detail</title>
</head>
<body>
    <div class="post">
    <h2 class="user">Post in detail of @<%=post.username%></h2>
    <h3 class="user">Content : <%=post.content%></h3>
    <br>
    </div>
</body>
</html>